.qv-object-circularkpi .background {
  fill: #00ffff;
  fill-opacity: 0;
}
.qv-object-circularkpi .label {
  text-anchor: middle;
}
.qv-object-circularkpi .circular-kpi-tile {
  margin: 0;
  float: left;
}
.qv-object-circularkpi .component {
  fill: #e1e1e1;
}
.qv-object-circularkpi .circular-kpi-tile {
  text-align: center;
}
.qv-object-circularkpi .arc {
  stroke-weight: 0;
}
.qv-object-circularkpi .arc2 {
  stroke-weight: 0;
}
